body {
    background-image: url(./Images/Fondo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: contain;
}
nav {
    background-color: transparent;
    overflow: hidden;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
}
nav:hover {
    backdrop-filter: blur(0px);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    float: left;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #45DFB1;
}    
.contenedor {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: line;
}
.div1 {
    margin-block-end: 1.30em;
    margin-block-start: .90em;
    margin-left: .30em;
    margin-right: .30em;
    height: 380px;
    width: 300px;
    background-color: #81B29A;
    filter: grayscale(100%);
}
.div:hover {
    filter: grayscale(0%);

}
.div2 {
    margin-block-end: 1em;
    margin-block-start: .90em;
    margin-left: .30em;
    margin-right: .30em;
    height: 380px;
    width: 300px;
    background-color: #F54952;
    filter: grayscale(100%);
}
.div2 h2 {
    margin-block-end: 16px;
}
.div3 {
    margin-block-end: 1.90em;
    margin-block-start: .90em;
    margin-left: .30em;
    margin-right: .30em;
    height: 380px;
    width: 300px;
    background-color: #fdb435;
    filter: grayscale(100%);
}
.div4 {
    margin-block-end: 1.90em;
    margin-block-start: .90em;
    margin-left: .30em;
    margin-right: .30em;
    height: 380px;
    width: 300px;
    background-color: #45DFB1;
    filter: grayscale(100%);
}
.div5 {
    margin-block-start: 7em;
    justify-content: center;
    background-color: #b9b9b9;
}
.div6 {
    margin-block-start: 7em;
    justify-content: center;
    background-color: #b9b9b9;
}
.div7 {
    margin-block-start: 7em;
    justify-content: center;
    background-color: #b9b9b9;
}
.div8 {
    margin-block-start: 7em;
    justify-content: center;
    background-color: #b9b9b9;
}
.div9 {
    margin-inline-end: 30em;
    margin-inline-start: 20em;
    justify-content: center;
    background-color:#b9b9b9;

}

h1 {
    margin: 2em;
    text-align: center;
    color: rgb(241, 131, 28);
    
}
h2 

table {
    width:55%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: 10em;
    margin-right: 10em;
    border: 1px solid black;
    border-collapse: collapse;
    
}
td {
    border: 1px solid black;
    padding-right: 20px;
    padding-bottom: 7px;
    background-color: #B8D8E3;


}
th {
    border: 1px solid black;
    padding-right: 19px;
    padding-left: 19px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #C8A8E9;
    
}